
<br/>
<a class="btn btn-primary" href="/#/addRacer"><span class="glyphicon glyphicon-plus"></span> Add Racer</a>
<br/>

<table class="table table-striped" id="racerTable">
  <thead>
    <tr>
      <th></th>
      <th>
        Name <br/>
        <input ng-model="searchName" type="text" />
      </th>
      <th>Class <br/>
        <input ng-model="searchClass" type="text" style="width: 85px"/></th>
      <th>
        Points<br/>
        <input ng-model="searchPoints" type="text" style="width: 45px"/></th>
      <th>
        City<br/>
        <input ng-model="searchCity" type="text" style="width: 85px"/>
      </th>
      <th>
        State<br/>
        <input ng-model="searchState" type="text" style="width: 45px"/>
      </th>
      <th>
        Car - Make<br/>
        <input ng-model="searchCarMake" type="text" style="width: 85px"/>
      </th>
      <th>
        Car - Model<br/>
        <input ng-model="searchCarModel" type="text" style="width: 85px"/>
      </th>
      <th>
        Car - Year<br/>
        <input ng-model="searchCarYear" type="text" style="width: 75px"/>
      </th>
      <th>
        Car - Color<br/>
        <input ng-model="searchCarColor" type="text" style="width: 85px"/></th>
      <th>
        Car - Number<br/>
        <input ng-model="searchCarNumber" type="text" style="width: 95px"/>
      </th>
      <th>
        Sponsor<br/>
        <input ng-model="searchSponsor" type="text" style="width: 75px"/>
      </th>
      <th>
        Track Name <br/>
        <input ng-model="searchTrack" type="text" style="width: 85px"/>
      </th>
      <th>
        Best Lap POS <br/>
        <input ng-model="searchBestLapPOS" type="text" style="width: 65px"/>
      </th>
      <th>
        Best Lap Pic<br/>
        <input ng-model="searchBestLapPic" type="text" style="width: 65px"/>
      </th>
      <th>
        Best Lap Date<br/>
        <input ng-model="searchBestLapDate" type="text" style="width: 65px"/>
      </th>
      <th>
        Total Laps<br/>
        <input ng-model="searchTotalLaps" type="text" style="width: 45px"/>
      </th>
      <th>
        Time Gap<br/>
        <input ng-model="searchTimeGap" type="text" style="width: 45px"/>
      </th>
      <th>
        Time Dif<br/>
        <input ng-model="searchBestTimeDif" type="text" style="width: 45px"/>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="racer in racersMain.racers | filter: searchName | filter: searchClass | filter: searchPoints | filter: searchCity | filter: searchState | filter: searchCarMake | filter: searchCarModel | filter: searchCarYear | filter: searchCarColor | filter: searchCarNumber | filter: searchSponsor | filter: searchTrack | filter: searchBestLapPOS | filter: searchBestLapPic | filter: searchBestLapDate | filter: searchTotalLaps | filter: searchTimeGap | filter: searchTimeDif">
      <td>
        <div class="button-group" style="width: 85px">
          <a ng-href="/#/racer/{{racer._id}}/edit" class="btn btn-default">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
          <a ng-href="/#/racer/{{racer._id}}/delete" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </a>
        </div>
      </td>
      <td><a ng-href="/#/racer/{{racer._id}}">{{racer.racer_name}}</a></td>
      <td>{{racer.racer_class}}</td>
      <td>{{racer.racer_points}}</td>
      <td>{{racer.city}}</td>
      <td>{{racer.state}}</td>
      <td>{{racer.car_make}}</td>
      <td>{{racer.car_model}}</td>
      <td>{{racer.car_year}}</td>
      <td>{{racer.car_color}}</td>
      <td>{{racer.car_number}}</td>
      <td>{{racer.sponsor}}</td>
      <td>{{racer.track_name}}</td>
      <td>{{racer.best_lap_pos}}</td>
      <td>{{racer.best_lap_pic}}</td>
      <td>{{racer.best_lap_date}}</td>
      <td>{{racer.total_laps}}</td>
      <td>{{racer.time_gap}}</td>
      <td>{{racer.time_dif}}</td>
    </tr>
  </tbody>
</table>
