<h3>{{racerView.racer.racer_name}}</h3>
<p><strong>Class:</strong> {{racerView.racer.racer_class}}</p>
<p><strong>Points:</strong> {{racerView.racer.racer_points}}</p>
<p><strong>Car #:</strong> {{racerView.racer.car_number}}</p>
<p><strong>Car:</strong> {{racerView.racer.car_color}} {{racerView.racer.car_make}} {{racerView.racer.car_model}} {{racerView.racer.car_year}}</p>
<p><strong>City:</strong> {{racerView.racer.city}}</p>
<p><strong>State:</strong> {{racerView.racer.state}}</p>
<p><strong>Sponsor:</strong> {{racerView.racer.sponsor}}</p>
<hr/>
<p><strong>Track Name:</strong> {{racerView.racer.track_name}}</p>
<p><strong>Best Lap Position:</strong> {{racerView.racer.best_lap_pos}}</p>
<p><strong>Best Lap Time:</strong> {{racerView.racer.best_lap_time}}</p>
<p><strong>Best Lap Date:</strong> {{racerView.racer.best_lap_date}}</p>
<p><strong>Total Laps:</strong> {{racerView.racer.total_laps}}</p>
<p><strong>Time Gap:</strong> {{racerView.racer.time_gap}}</p>
<p><strong>Time Difference:</strong> {{racerView.racer.time_dif}}</p>
